#top
{
background-color:black;
height:10px;
width:100%;
}
body
{
background-image:url("../image/");
border-style:solid;
}
#container
{
background-color:silver;
width:90%;
height:986px;
margin:0px auto;
}
#header
{
background-color:lightgray;
height:70px;
width:100%;
}
#header img
{
height:70px;
border-style:solid;
border-color:silver;
}
#header ul
{
float:right;
margin-right:10px;
}
#header ul li
{
display:inline;
margin-left:20px;
}
#header ul li a
{
color:black;
text-decoration:none;
font-size:30px;
}
#header ul li a:hover
{
color:red;
font-family:arial;
}
#title
{
background-color:yellow;
height:10px;
width:100;
}
#pic img
{
height:500px;
width:100%;
}
#content1
{
width:32%;
height:400px;
background-color:orange;
float:left;

}
#content2
{
width:32%;
height:400px;
background-color:green;
float:left;
margin-left:14px;
}
#content3
{
width:33%;
height:400px;
background-color:blue;
float:left;
margin-left:14px;
}
.head
{
color:white;
font-familey:serif;
margin-left:25px;
font-size:25px;
}
.para
{
color:white;
font-familey:arial;
margin-left:25px;
font-size:18px;
padding-left:10px;
}
.button
{
margin-left:30px;
background-color:gray;
}
.button a
{
text-decoration:none;
color:black;
}
#bot1
{
clear:both;
width:60%;
height:350px;
float:left;
}
#bot3
{
width:40%;
height:350px;
float:right;
}
#bot1 p
{
margin-left:30px;
}
#bot1 ol
{
margin-left:10px;
}
#bot3 h1
{
text-align:center;
font-family:serif;
color:red;
}
#bot3 img
{
height:255px;
width:100%;
}
#footer
{
clear:both;
background-color:black;
height:60px;
Width:100%;
}
#footer p
{
color:white;
float:right;
font-family:serif;
margin-top:30px;
margin-right:20px;
}